html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Canvas atrás */
canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Capa UI arriba */
.ui {
  position: fixed;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  z-index: 10;
  pointer-events: none;
}

.ui-text {
  max-width: 720px;
  padding: 16px 22px;
  margin-bottom: 6px;

  color: #ffd6dd;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-style: italic;

  background: rgba(255, 45, 85, 0.08);
  border: 1px solid rgba(255, 45, 85, 0.35);
  border-radius: 18px;

  backdrop-filter: blur(6px);
  box-shadow:
    0 0 12px rgba(255, 45, 85, 0.25),
    inset 0 0 10px rgba(255, 255, 255, 0.05);

  animation: floatText 6s ease-in-out infinite;
}

/* animación sutil */
@keyframes floatText {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .ui-text {
    font-size: 16px;
    padding: 14px 18px;
  }
}


/* Botón */
.btn {
  pointer-events: auto;
  padding: 14px 32px;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid #ff2d55;
  background: transparent;
  color: #ff2d55;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ff2d55;
  color: white;
  transform: scale(1.05);
}
